body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code{
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/*REACT HINT BEGINS*/
	.react-hint {
		padding: 5px;
		position: absolute;
		z-index: 9999;
		cursor: default;
		animation: .5s fadeIn;
	}

	.react-hint__content {
		padding: 10px;
		border-radius: 5px;
		background: #000;
		color: #fff;
	}

	.react-hint:after {
		content: '';
		width: 0;
		height: 0;
		margin: auto;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border: 5px solid transparent;
	}

	.react-hint--top:after {
		top: auto;
		border-bottom: none;
		border-top-color: #000;
	}

	.react-hint--left:after {
		left: auto;
		border-right: none;
		border-left-color: #000;
	}

	.react-hint--right:after {
		right: auto;
		border-left: none;
		border-right-color: #000;
	}

	.react-hint--bottom:after {
		bottom: auto;
		border-top: none;
		border-bottom-color: #000;
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}
/*REACT HINT ENDS*/

/*COMBOBOX BEGINS*/
	.contenedor-selects{
		margin-top:20px;
		display:flex;
		justify-content:flex-end;
		max-width:100%
	}
	.conetenedor-select {
		color: white;
	}
	select, .selectBox{
		background-color:#72a5ad;
		color:white;
		width:200px;
		border-radius:7px;
		height:30px;
		border:0px;
		outline:0px;
		position: relative;
		font-size:15px;
		text-align:left;
		padding:0 2%;
		margin-left:7px;
		margin-right:7px;
		cursor: pointer;
	}
	 #comboboxcheckboxes{
	 	z-index: -2;
	}
	  select:hover {
		background-color:#306973;
		border:1px solid #BBBBBB;
		cursor: pointer;
	}

	option{
		border:0px;
		outline:0px;
		background-color:#72a5ad;   
		color:#ffffff;
		margin-top:10px;
		border-radius:7px;
		cursor: pointer;
		border:0px;
		outline:0px;
		margin-left:10px;
		z-index:-2
	}
	.multiselect {
		width: 205px;
		background-color:#72a5ad; 
		position: absolute;
	}


	.overSelect {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	#checkboxes {
		display: none;
		border: 1px #dadada solid;
		background-color:#72a5ad; 
		position: absolute;
		z-index: 800;
		padding:0 .5%;
	}

	#checkboxes label {
		display: block;
		background-color:#72a5ad;   
		color:#ffffff;
		cursor: pointer;
	}

	#checkboxes label:hover {
		background-color: #1e90ff;
	}
/*COMBOBOX ENDS*/

/*CHECKBOX BEGINS*/
	.container {
		position: relative;
		padding-left: 55px;
		margin-top: 5px;
		cursor: pointer;
		font-size: 15px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		margin-left:5px;
		margin-top:5px;
	}

	p{
		margin-left: 13px;
	}

	.container input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 20px;
		width: 20px;
		background-color: #eee;
		margin-right:20px;
	}

	.container:hover input ~ .checkmark {
		background-color: #ccc;
	}

	.container input:checked ~ .checkmark {
		background-color: #306973;
	}

	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}

	.container input:checked ~ .checkmark:after {
		display: block;
	}
	.container .checkmark:after {
		left: 8px;
		top: 5px;
		width: 5px;
		height: 10px;
		border: solid white;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
/*CHECKBOX ENDS*/

/*APP BEGINS*/
	.App {
		text-align: center;
	}

	.App-logo {
		height: 40vmin;
		pointer-events: none;
	}


	.App-header {
		background-color: #282c34;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: calc(10px + 2vmin);
		color: white;
	}

	.App-link {
		color: #61dafb;
	}
	.nav{
		background-color:   #94B046;
		color:#2B6974;
		position: fixed;
		top: 0;
	}

	.navBarWidth {
		width: 100%;
	}

	.target-1-3{
		height: 500px;
		width: 500px;
	}
/*APP ENDS*/

/*LEAFLET BEGINS*/
	.leaflet-container {
		background-color: #73b6e6;
	}
	.leaflet-popup-content{
		font: sans-serif;
		font-size: 12px;
		width: 7em !important;
	}
	.leaflet-interactive{
		position: absolute;
		z-index: -1;
	}
/*LEAFLET ENDS*/

/*BOXES BEGINS*/
	l .boxes {
		margin: 20px;
		margin-top: 150px;
		background-color: rgb(198, 177, 198);
		overflow: auto;
		height: 200px;
		max-height: 35vh;
		width:800px;
		box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
		border-radius: 10px 10px 10px 10px;
	}

	.grids {
		max-width: 100%;
		margin: auto;
	}
/*BOXES ENDS*/

/*BOX BEGINS*/
	.box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8,.box9,.box10 {
		background-color:white;
		border-radius: 10px 10px 10px 10px;
		overflow: auto;
		-webkit-box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
	}

	.box {
		margin: 5px;
	}

	.grid {
		min-height: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
	.grid-inside {
		min-height: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
	.grid > div {
		flex-basis: auto;
	}

	.boxy {
		width: 800px;
		background: green;
		padding: 50px;
		margin-left: auto;
		margin-right: auto;
	}
	.boxy:hover {
		animation: boxyRotation 4s infinite linear;
	}

	@keyframes boxyRotation {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(359deg);
		}
	}

	.black-background {
		background-color: red !important;
		font-size: 5vh;
		border-radius: 10px 10px 10px 10px;
	}

	* {box-sizing: border-box;}
		.wrapper {
	}

	.wrapper > div {
		border: 1px solid black;
		border-radius: 5px;
		background-color: white;
		padding: 2px;
		color: black;
	}
	.wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1px;
		grid-auto-rows: minmax(100px, auto);
	}
	.one {
		grid-column: 1 / 3;
		grid-row: 1/3;
	}
	.two { 
		grid-column: 3 / 4;
		grid-row: 1 / 3;
	}
	.three {
		grid-column: 1 / 3;
		grid-row: 3 / 5;
	}
	.four {
		grid-column: 3;
		grid-row: 3/5;
	}
	.uno{
		grid-column: 1;
		grid-row: 1/3;
	}
	.dos{
		grid-column: 2;
		grid-row: 1/3;
	}
	.tres{
		grid-column: 3;
		grid-row: 1/3;
	}
/*BOX ENDS*/


#container-fluid{
	border:black 1px;
}


@media only screen and (max-width: 919px) {
	#banner{
		width: 100%;
	}
}
@media only screen and (min-width: 920px) {
	#banner{
		width: 80%;
		margin-left: 10%;
	}
}
.popup-list--header{
	text-align: center;
}
.popup-list{
	list-style: none;
	padding-inline-start: 0;
	margin: 0;
	text-align: center;
}